.css-10mzr36-MuiGrid-root>.MuiGrid-item {
    padding-left: 0 !important;
}

.css-10mzr36-MuiGrid-root{
    margin: 0 !important;
    width: 100% !important;
}
.css-1v65mc9-MuiPaper-root{
    padding: 0 !important
}

.css-11lq3yg-MuiGrid-root{
    justify-content: center;
}

.css-lo3ush-MuiTypography-root{
    font-family: cursive  !important;
    font-size : 30PX !important;
}